


// Two names for ease of use
$yellow: #FEC600;
$metro-yellow: $yellow;
$metro-green: #5bb064;
$font-color: black;


$font-family-sans-serif: "Open Sans", Arial, sans-serif !default;
$font-family-serif:      Calvert, Times, serif !default;
$font-family-calvert: $font-family-serif;   // Shortcut that's easier to remember

$media-small: 764px;


// These were default, we don't need them I don' think
// $enable-responsive-font-sizes: true;
// $font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// $font-family-base:       $font-family-sans-serif !default;

// // Include Bootstrap and BootstrapVue SCSS files
// @import '~bootstrap/scss/bootstrap.scss';
// @import '~bootstrap-vue/src/index.scss';




