//@font-face {
//  font-family: "Open Sans";
//  src: url("./fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype")
//}
//
//@font-face {
//  font-family: "Calvert";
//  src: url("./fonts/CalvertMT.ttf") format("truetype")
//}

// Override / set color variables
$yellow: #FEC600;
$primary: $yellow;


$font-family-sans-serif: Arial, sans-serif !default;
$font-family-serif:      "Calvert", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
